@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import "tailwindcss";

@font-face {
  font-family: "FamiliadaRegular";
  src:  url("/familiada.woff") format("woff"),
        url("/familiada.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: FamiliadaRegular;
  background-color: black;
  color: yellow;
  font-size: 25px;
}