@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import "tailwindcss";

@font-face {
  font-family: 'Familiada';
  src: url('/Familiada.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Familiada;
  background-color: black;
  color: yellow;
  font-size: 25px;
}